.col {
  border: 2px solid rgb(27, 15, 190);
  width: 200px;
  height: 258px;
  display: inline-flex;
  margin-right: 7px;
  margin-bottom: 17px;
}

image{
  height: 100px;
  width: 90px;
}
.row {
  border: 2px solid #f32929;
  width: 98%;
  height: 271px;
  margin:0px 0px 0px 17px;
}





